/*$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* for overall setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #64686d;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: #272727;
}

.bold-font {
  font-weight: bold;
}

.header__slider {
  color: whitesmoke;
}

.header__title {
  font-weight: 800;
  line-height: 1;
  color: #f5f5f5;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}
.header__title--blue {
  color: #5cadd3;
}
.header__title--sub {
  font-size: 1.6rem;
  line-height: 1;
}

.section__header {
  text-align: center;
  font-size: 2rem;
  width: 70%;
  margin: 4.5rem auto;
}
@media (max-width: 75em) {
  .section__header {
    margin: 3rem auto;
  }
}
@media (max-width: 56.25em) {
  .section__header {
    width: 95%;
  }
}
.section__header-title {
  font-weight: 700;
  color: #272727;
  text-transform: uppercase;
}
.section__header-title-underline {
  background-color: #ebebeb;
  height: 2px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  width: 25%;
}
.section__header-title-underline .dot {
  height: 2.3rem;
  width: 2.3rem;
  background-color: #5cadd3;
  border: 4px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}
.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-spaced-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-spaced-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-margin-y-md {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-x-center-mg {
  margin: 0 auto;
}

.btn,
.btn:link,
.btn:visited,
.btn:active,
.btn:focus {
  border-color: transparent;
  border: none;
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn--blue {
  display: inline-block;
  font-weight: 700;
  padding: 1.2rem;
  color: #fff;
  border-radius: 4px;
  background: #5cadd3;
  border: none;
  border-bottom: 3px solid #468cad;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.portofolio__projects-types-nav {
  margin: 0 auto;
  max-width: 50rem;
  margin-bottom: 5rem;
}
.portofolio__projects-types-nav::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 56.25em) {
  .portofolio__projects-types-nav {
    display: block !important;
  }
}
.portofolio__projects-types-nav__selector, .portofolio__projects-types-nav__selector:active, .portofolio__projects-types-nav__selector:focus {
  font-weight: 700;
  padding: 1rem 2rem;
  border-bottom: 6px solid transparent;
  background: #ebebeb;
  color: #777777;
  text-align: center;
  transition: all 0.2s ease-out;
}
@media (max-width: 56.25em) {
  .portofolio__projects-types-nav__selector, .portofolio__projects-types-nav__selector:active, .portofolio__projects-types-nav__selector:focus {
    display: block !important;
    width: 100%;
  }
}
.portofolio__projects-types-nav__selector:hover:not(.--active), .portofolio__projects-types-nav__selector:active:hover:not(.--active), .portofolio__projects-types-nav__selector:focus:hover:not(.--active) {
  background-color: #d8d8d8;
}
.portofolio__projects-types-nav__selector:active:not(.--active), .portofolio__projects-types-nav__selector:active:active:not(.--active), .portofolio__projects-types-nav__selector:focus:active:not(.--active) {
  background-color: #468cad;
  color: #64686d;
}
.portofolio__projects-types-nav__selector:first-child, .portofolio__projects-types-nav__selector:active:first-child, .portofolio__projects-types-nav__selector:focus:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
@media (max-width: 56.25em) {
  .portofolio__projects-types-nav__selector:first-child, .portofolio__projects-types-nav__selector:active:first-child, .portofolio__projects-types-nav__selector:focus:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.portofolio__projects-types-nav__selector:last-child, .portofolio__projects-types-nav__selector:active:last-child, .portofolio__projects-types-nav__selector:focus:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (max-width: 56.25em) {
  .portofolio__projects-types-nav__selector:last-child, .portofolio__projects-types-nav__selector:active:last-child, .portofolio__projects-types-nav__selector:focus:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.portofolio__projects-types-nav .--active {
  background-color: #5cadd3;
  color: #ebebeb;
  position: relative;
  border-bottom: 6px solid #468cad;
}
.portofolio__projects-types-nav .--active::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-top: solid 1.2rem #468cad;
  border-left: solid 1.2rem transparent;
  border-right: solid 1.2rem transparent;
}
@media (max-width: 56.25em) {
  .portofolio__projects-types-nav .--active::after {
    display: none;
  }
}

.portofolio__card {
  height: auto;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  backface-visibility: hidden;
}
.portofolio__card-frame {
  display: block;
  height: 100%;
  width: 100%;
}
.portofolio__card-frame .portofolio__card-image {
  transition: transform 0.2s ease-out;
}
.portofolio__card:hover .portofolio__card-text {
  opacity: 1;
  bottom: 0;
}
.portofolio__card-text {
  position: absolute;
  width: 100%;
  height: 37.5%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  bottom: -10rem;
  padding: 1rem;
  transition: all 0.2s ease-out;
}
@media (max-width: 75em) {
  .portofolio__card-text {
    font-size: 2.5rem;
  }
}
.portofolio__card-text h4,
.portofolio__card-text p {
  color: #fff;
}
.portofolio__card-text__icon {
  display: inline-block;
  background-color: #5cadd3;
  opacity: 0.95;
  border: 2px solid #fff;
  color: #fff;
  position: absolute;
  top: -36%;
  right: 5%;
  padding: 5%;
  border-radius: 5rem;
}
@media (max-width: 75em) {
  .portofolio__card-text__icon {
    top: -30%;
  }
}

.footer__contact-form {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  font-weight: 500;
  border-radius: 2px;
}
.footer__contact-form .container-form {
  width: 95%;
  min-width: 36rem;
  margin: 0 auto;
}
.footer__contact-form .container-form > *:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 75em) {
  .footer__contact-form .container-form {
    width: 50%;
  }
}
.footer__contact-form .container-form input[type=text],
.footer__contact-form .container-form textarea {
  width: 100%;
  border-radius: 2px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.footer__contact-form .container-form input[type=text]:active, .footer__contact-form .container-form input[type=text]:focus,
.footer__contact-form .container-form textarea:active,
.footer__contact-form .container-form textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  text-decoration: none;
}
.footer__contact-form .container-form .btn--blue {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: -2px;
}
.footer__contact-form .container-form textarea {
  height: 17rem;
}
@media (max-width: 75em) {
  .footer__contact-form {
    position: relative;
    transform: none;
    background-color: #e5e5e5;
    text-align: center;
  }
}

.footer {
  position: relative;
}
.footer__iframe {
  background-color: #5cadd3;
  width: 100%;
  height: calc(100vh - 8rem);
}
@media (max-width: 56.25em) {
  .footer__iframe {
    height: 40rem;
  }
}
.footer__iframe__map {
  width: 100%;
  opacity: 0.6;
  height: 100%;
}

.header__slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header__slider__slides {
  display: flex;
  transform: translateX(0);
  transition: transform 1s cubic-bezier(0.43, 0.79, 0.68, 0.97);
  height: 100%;
  width: 200%;
}
.header__slider__slides__item {
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__slider__slides__item:first-child {
  background-image: url("../assets/images/slider/bg1.jpg");
}
.header__slider__slides__item:last-child {
  background-image: url("../assets/images/slider/bg2.jpg");
}
.header__slider__panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
}
.header__slider__panel > * {
  height: 100%;
}
.header__slider__panel__content {
  width: 80%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.header__slider__panel__content-frame {
  width: 50%;
  font-weight: 700;
}
@media (max-width: 37.5em) {
  .header__slider__panel__content-frame {
    width: 95%;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
  }
}
.header__slider__panel__nav {
  position: absolute;
  top: 0;
  width: 10%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}
.header__slider__panel__nav:first-child {
  left: 0;
}
.header__slider__panel__nav:last-child {
  right: 0;
}
.header__slider__panel__nav .half-circle, .header__slider__panel__nav .half-circle-right, .header__slider__panel__nav .half-circle-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 9rem;
  width: 4.5rem;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.header__slider__panel__nav .half-circle:hover, .header__slider__panel__nav .half-circle-right:hover, .header__slider__panel__nav .half-circle-left:hover {
  background: rgba(0, 0, 0, 0.4);
}
.header__slider__panel__nav .half-circle:active, .header__slider__panel__nav .half-circle-right:active, .header__slider__panel__nav .half-circle-left:active {
  background: rgba(0, 0, 0, 0.6);
}
.header__slider__panel__nav .half-circle-left {
  left: 0;
  border-radius: 0 9rem 9rem 0;
}
.header__slider__panel__nav .half-circle-right {
  right: 0;
  border-radius: 9rem 0 0 9rem;
}
.header__slider__panel .active {
  border-bottom: 5px solid rgba(92, 173, 211, 0.8);
}
.header__slider__panel__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background: none !important;
  width: 100%;
  height: 100%;
}
.header__slider__panel .--first {
  left: 2rem;
}
.header__slider__panel .--last {
  right: 2rem;
}

.service-list {
  padding-top: 6rem;
}
.service-list > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 56.25em) {
  .service-list > *:not(:last-child) {
    margin-bottom: 8rem !important;
  }
}
.service-list .service__feature {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr auto;
  max-width: 128rem;
}
@media (max-width: 56.25em) {
  .service-list .service__feature {
    margin: 0 auto;
    max-width: 50rem;
    grid-template-columns: 6.5rem auto;
  }
}
.service-list .service__feature-logo-frame {
  position: relative;
  height: 7.6rem;
  width: 7.6rem;
  color: #5cadd3;
  border: 2px solid #ebebeb;
  border-radius: 5rem;
}
.service-list .service__feature-logo-frame .dot {
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  background-color: #5cadd3;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
}
.service-list .service__feature-logo-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
.service-list .service__feature-text {
  line-height: 1.7;
  color: #64686d;
}
.service-list .service__feature-text h4 {
  color: #272727;
}

.header {
  height: 100vh;
  background: #fff;
  padding-top: 15vh;
}
.header__slider {
  height: 85%;
  background: turquoise;
}
.header__text-frame {
  width: 80%;
}
@media (max-width: 75em) {
  .header__text-frame {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .header__text-frame {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

.footer {
  background-color: #f5f5f5;
}
@media (max-width: 75em) {
  .footer {
    padding-top: 0;
  }
}

.navbar {
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 15vh;
  min-height: 8rem;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 37.5em) {
  .navbar {
    height: 8rem;
  }
}
.navbar-content {
  min-width: 350px;
  width: 80%;
  height: 100%;
  margin: auto;
}
.navbar--shrinked {
  height: 8rem;
  background-color: #f5f5f5;
  border-bottom: #e5e5e5;
}
@media (max-width: 75em) {
  .navbar--shrinked .navbar__menu-list {
    height: calc(100vh - 8rem) !important;
    top: 8rem !important;
  }
}
.navbar__hamburger {
  display: none;
  cursor: pointer;
  padding: 2.5rem 1.8rem;
}
.navbar__hamburger__icon, .navbar__hamburger__icon::before, .navbar__hamburger__icon::after {
  position: relative;
  display: block;
  width: 5rem;
  height: 0.6rem;
  background: #e5e5e5;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s ease-in-out;
}
.navbar__hamburger__icon::before, .navbar__hamburger__icon::after {
  content: "";
  position: absolute;
}
.navbar__hamburger__icon::before {
  transform: translateY(-1.6rem);
}
.navbar__hamburger__icon::after {
  transform: translateY(1.6rem);
}
.navbar__hamburger:hover .navbar__hamburger__icon, .navbar__hamburger:hover .navbar__hamburger__icon::before, .navbar__hamburger:hover .navbar__hamburger__icon::after {
  background-color: #468cad;
}
@media (max-width: 75em) {
  .navbar__hamburger {
    display: block;
  }
}
.navbar__hamburger__input {
  display: none;
}
@media (max-width: 75em) {
  .navbar__hamburger__input {
    z-index: 105;
  }
}
.navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon, .navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon::before, .navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon::after {
  background: #5cadd3;
}
.navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon::before, .navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon::after {
  transform: translateY(0);
}
@media (max-width: 75em) {
  .navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon, .navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon::before, .navbar__hamburger__input:checked ~ .navbar__hamburger .navbar__hamburger__icon::after {
    left: 0;
  }
}
@media (max-width: 75em) {
  .navbar__hamburger__input:checked ~ .navbar__menu-list {
    left: 0;
  }
}
.navbar__menu-list {
  height: 100%;
  transition: left 0.5s;
  display: flex;
}
@media (max-width: 75em) {
  .navbar__menu-list {
    position: fixed;
    width: 100%;
    height: calc(100vh - 15vh);
    background-color: #f5f5f5;
    display: flex;
    top: 15vh;
    left: -100%;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 37.5em) {
  .navbar__menu-list {
    height: calc(100vh - $nav-height-small);
    top: 8rem;
  }
}
.navbar__menu-list__item {
  border-top: 5px solid transparent;
  list-style: none;
  align-items: center;
  display: flex;
  /* extends flex aligne center */
  padding: 0 2rem;
}
@media (max-width: 75em) {
  .navbar__menu-list__item {
    margin-top: 4.5rem;
  }
}
.navbar__menu-list__item .navbar-link:link,
.navbar__menu-list__item .navbar-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #777777;
  transition: color 0.3s ease;
}
.navbar__menu-list__item .navbar-link:link:hover,
.navbar__menu-list__item .navbar-link:visited:hover {
  color: #5cadd3;
}
@media (max-width: 75em) {
  .navbar__menu-list__item .navbar-link:link,
.navbar__menu-list__item .navbar-link:visited {
    font-size: 3rem;
  }
}
.navbar__menu-list__item--active {
  border-top: 5px solid #5cadd3;
  position: relative;
}
@media (max-width: 75em) {
  .navbar__menu-list__item--active {
    border-top: none;
    font-weight: 800;
  }
}
@media (max-width: 75em) {
  .navbar__menu-list__item--active::before, .navbar__menu-list__item--active::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: #5cadd3;
    margin: 0 1.5rem;
  }
}

.nav {
  height: 15vh;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  background: #fff;
}
.nav__list {
  list-style: none;
  height: 100%;
}
.nav__list-item {
  width: 10rem;
  justify-content: center;
  border-top: 5px solid transparent;
}
.nav__list-item .hamburger-link:link,
.nav__list-item .hamburger-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #777777;
}
.nav__list-link:link, .nav__list-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #777777;
}
.nav__list .active {
  border-top: 5px solid #5cadd3;
}

section {
  padding: 15vh 0 0 0;
}
@media (max-width: 75em) {
  section {
    padding: 15vh 6rem 0 6rem;
  }
}
@media (max-width: 56.25em) {
  section {
    padding: 15vh 3rem 0 3ren;
  }
}

.wrapper, .wrap-quarter, .wrap-half {
  max-width: 128rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
}
@media (min-width: 112.5em) {
  .wrapper, .wrap-quarter, .wrap-half {
    max-width: 120rem;
  }
}
@media (max-width: 75em) {
  .wrapper, .wrap-quarter, .wrap-half {
    grid-gap: 8rem;
  }
}
@media (max-width: 56.25em) {
  .wrapper, .wrap-quarter, .wrap-half {
    grid-template-columns: 1fr !important;
    max-width: 50rem;
  }
}

.wrap-half {
  grid-template-columns: 1fr 1fr;
}

.wrap-quarter {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 75em) {
  .wrap-quarter {
    grid-template-columns: 1fr 1fr;
  }
}

.services-section,
.portofolio-section {
  background: #f5f5f5;
}

.services-area {
  max-width: 128rem;
  margin: 0 auto;
}
.services-area::after {
  content: "";
  display: table;
  clear: both;
}
.services-area > * {
  float: left;
  width: calc((100% - 8rem) / 2);
}
.services-area > *:not(:last-child) {
  margin-right: 8rem;
}
@media (max-width: 56.25em) {
  .services-area > *:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 56.25em) {
  .services-area > * {
    width: 100% !important;
  }
}

.portofolio-section {
  padding-bottom: 8rem !important;
}

/*# sourceMappingURL=style.css.map */
