.footer {
    position: relative;
    &__iframe {
        background-color: $color-primary;
        width: 100%;
        height: calc(100vh - #{$nav-height-small});

        @include responsive(tab-port) {
            height: 40rem;
        }
        &__map {
            width: 100%;
            opacity: 0.6;
            height: 100%;
        }
    }
}

